<div class="container">
  <div class="row">
    <div class="text-center form-div col-xs-6 col-xs-offset-3">
      <h1><small>create an exciting event!</small></h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div id="new-product" class="form-group has success form-div col-xs-6 col-xs-offset-3">
      <%= form_for [:admin, @event] do |f| %>
        <div class="text-left">
          <%= f.label "name", :name %>
          <%= f.text_field :name, class: "form-control text-input" %>
          <br>
          <%= f.label "venue", :venue %>
          <%= f.collection_select :venue_id, @venues, :id, :name, {}, {class: "form-control" } %>
          <br>
          <%= f.label "date", :date %>
          <%= date_field_tag :date, nil ,class: "form-control text-input" %>
          <br>
          <%= f.label "time", :time %>
          <%= f.time_field :time, class: "form-control text-input" %>
          <br>
          <%= f.label "category", :category %>
          <%= f.collection_select :category_id, @categories, :id, :name, {}, {class: "form-control" } %>
          <br>
          <%= f.label "tags", :tags %>
          <%= text_field_tag :tags, nil ,class: "form-control text-input" %>
          <br>
        </div>

        <div class="text-center">
          <div class="form-inline">
            <div class="form-group">
              <label class="file">
              <input id="imageFormCover" class="form-control" type="text" readonly>
              <a class="btn btn-primary" onclick="$('input[id=file_input]').click();">browse for image</a>
              </label>
            </div>
            <br>
          </div>
          <br>
          <%= f.submit "create event", class: "btn btn-little-owl form-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
