<h3 class="inactive-<%= params[:inactive] %> admin-product-index-header">my listings</h3>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
    <thead>
      <tr>
        <th>listing id</th>
        <th>event name</th>
        <th>row number</th>
        <th>seat number</th>
        <th>price</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
        <% listing.tickets.each do |ticket| %>
      <tr id="<%= ticket.listing.id %>-listing">
        <td><%= link_to ticket.listing.id, user_listing_path(current_user, ticket.listing) %></td>
        <td><%= ticket.listing.event.name %></td>
        <%= form_tag(user_listing_path(current_user, ticket.listing), method: :patch) do %>
            <td><%= label_tag :row,  nil, class:"sr-only"  %>
            <%= text_field_tag :row, nil, placeholder: "#{ticket.row}", class:"form-control text-input" %></td>
            <td><%= label_tag :seat,  nil, class:"sr-only"  %><%= text_field_tag :seat, nil, placeholder: "#{ticket.seat}", class:"form-control text-input", id: "seat_number_1", name: "seat[0]" %></td>
            <td><%= label_tag :price,  nil, class:"sr-only"%><%= text_field_tag :price, nil, placeholder: "#{ticket.price}", class:"form-control text-input" %></td>
            <td><%= ticket.listing.event.status %></td>
            <td><%= submit_tag "update listing", class:"btn btn-checkout" %></td>
          <% end %>
          <td><%= button_to "destroy listing",user_listing_path(current_user, ticket.listing), method: :delete, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
