<div class="col-xs-6">
 <div class="event-title">
   <h1><%= @event.name %></h1>
 </div>
 <%= image_tag(@event.image(:show), class: "event-image-large") %>
 <div class="event-description">
   <%= @event.format_date %>
 </div>
 <div class="event-description">
   <%= @event.time_venue %>
 </div>
 <div class="event-description">
   <%= @event.format_location %>
 </div>
</div>

<div class="col-md-6">
  <div class="new-listing-title">
    <h1>create a listing:</h1>
  </div>
    <div>
      <div class="form-group text-center form-div">
          <%= form_tag(event_listings_path(@event)) do %>
            <%= label_tag :price,  nil, class:"sr-only"%>
            <%= text_field_tag :price, nil, required:true, placeholder: "price", class:"form-control text-input" %><br>
            <%= label_tag :row,  nil, class:"sr-only"  %>
            <%= text_field_tag :row, nil, required:true, placeholder: "row number", class:"form-control text-input" %><br>
            <%= label_tag :seat,  nil, class:"sr-only"  %>
            <%= text_field_tag :seat, nil, required:true, placeholder: "seat number 1", class:"form-control text-input", id: "seat_number_1", name: "seat[0]" %><br>
            <button id="add-seat", class="btn btn-primary">add seat</button>
            <%= submit_tag "create listing", class:"btn btn-checkout" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
