<div class="col-xs-6">
 <div class="event-title">
   <h1>Sun festival</h1>
 </div>
 <%= image_tag('http://mortenbentzon.com/wp-content/uploads/2014/07/midnightsun_blog161-e1406761557421.jpg', class: "event-image-large") %>
 <div class="event-description">
   Saturday, August 6
 </div>
 <div class="event-description">
   2:00 pm at Glorious Mountain
 </div>
 <div class="event-description">
   Lima, Peru
 </div>
</div>

<div class="col-md-6">
  <div class="new-listing-title">
    <h1>create a listing:</h1>
  </div>
    <div>
      <div class="form-group text-center form-div">
        <%= form_tag(user_listings_path) do %>
        <%= label_tag :price,  nil, class:"sr-only"%>
        <%= text_field_tag :price, nil, required:true, placeholder: "price", class:"form-control text-input" %><br>
        <%= label_tag :row_number,  nil, class:"sr-only"  %>
        <%= text_field_tag :row_number, nil, required:true, placeholder: "row number", class:"form-control text-input" %><br>
        <%= label_tag :seat_number,  nil, class:"sr-only"  %>
        <%= text_field_tag :seat_number, nil, required:true, placeholder: "seat number", class:"form-control text-input" %><br>
        <%= submit_tag "add seat", class:"btn btn-primary" %>
        <%= submit_tag "create listing", class:"btn btn-checkout" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
