<div class="col-md-12">
  <div class="listing-title">
    <h1><%= @listing.event.name %></h1>
  </div>
  <%= image_tag(@listing.event.image(:show), class: "event-image-large") %>
</div>
<br>
<div class="col-md-12">
    <h1>listing <%= @listing.id %></h1>
  <div class="table-responsive">
    <table class="table table-hover table-condensed table-products">
      <thead>
        <tr>
          <th>listing id</th>
          <th>row number</th>
          <th>seat number</th>
          <th></th>
          <th>price</th>
          <th>status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @listing.tickets.each do |ticket| %>
          <tr id="<%= ticket.id %>-ticket">
          <td><%= link_to ticket.listing.id, user_listing_path(current_user, ticket.listing) %></td>
          <%= form_tag(user_listing_path(current_user, ticket.listing), method: :patch) do %>
            <td><%= label_tag :row,  nil, class:"sr-only"  %>
            <%= text_field_tag :row, nil, required:true, placeholder: "#{ticket.row}", class:"form-control text-input" %></td>
            <td><%= label_tag :seat,  nil, class:"sr-only"  %><%= text_field_tag :seat, nil, required:true, placeholder:"#{ticket.seat}", class:"form-control text-input", id: "seat_number_1", name: "seat[0]" %></td>
            <td><%= button_to "add seat", class:"btn btn-warning" %></td>
            <td><%= label_tag :price,  nil, class:"sr-only"%><%= text_field_tag :price, nil, required:true, placeholder: "#{ticket.price}", class:"form-control text-input" %></td>
            <td><%= ticket.listing.event.status %></td>
            <td><%= submit_tag "update listing", class:"btn btn-checkout" %></td>
          <% end %>
          <td><%= button_to "destroy listing",user_listing_path(current_user, ticket.listing), method: :delete, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
