<div class="col-md-12">
  <div class="listing-title">
    <h1><%= @listing.event.name %></h1>
  </div>
  <%= image_tag(@listing.event.image(:show), class: "event-image-large") %>
</div>
<br>
<div class="col-md-12">
  <h1>listing <%= @listing.id %></h1>
  <%= render 'edit_form', {listing: @listing} %>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
