
<div class="textContainer order-hero-unit user-dashboard-hero-unit">
  <div class="text-container hero-container">
    <h1>Dis is yo dashboard, <%= current_user.first_name %></h1>
  </div>
</div><br>

<% if @events.any? %>
  <%= render partial: "shared/upcoming_events" %>
<% end %>
<br>

<% if @listings.any? %>
  <%= render partial: "shared/view_listings" %>
<% end %>
<br>

<div id="listings">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 outline" >
      <h1>contact info</h1>
      <h5 class="rjust"> <%= link_to "edit contact info", '#' %> </h5>
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products table-bordered user-info">
            <tr>
              <td>
                <h4 class="text-center">
                  <%= current_user.name %> <br>
                  <%= current_user.email %> <br>
                </h4>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
