<div id="orders" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 outline" >
      <h1>upcoming events</h1>
      <h5 class="rjust"> <%= link_to "view all orders", '#' %> </h5>
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products table-bordered">
          <thead>
            <tr>
              <th class="text-center">order</th>
              <th class="text-center">date</th>
              <th class="text-center">status</th>
              <th class="text-center">total</th>
              <th></th>
            </tr>
          </thead>
            <tr>
              <td><h4><%= link_to '22', '#' %></h4></td>
              <td><h4>2016-06-21</h4></td>
              <td><h4>paid</h4></td>
              <td><h4>$200</h4></td>
              <td><h4><%= link_to "details", '#' %></h4></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div id="listings" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 outline" >
      <h1>listings</h1>
      <h5 class="rjust"> <%= link_to "view all listings", '#' %> </h5>
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products table-bordered">
          <thead>
            <tr>
              <th class="text-center">listing</th>
              <th class="text-center">date</th>
              <th class="text-center">status</th>
              <th class="text-center">total</th>
              <th></th>
            </tr>
          </thead>
            <tr>
              <td><h4><%= link_to '22', '#' %></h4></td>
              <td><h4>2016-06-21</h4></td>
              <td><h4>active</h4></td>
              <td><h4>$200</h4></td>
              <td><h4><%= link_to "details", '#' %></h4></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div id="listings" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 outline" >
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products ">
          <thead>
            <tr>
              <th><strong>contact info</strong></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
            <tr>
              <td>
                <h6 class="ljust">
                  David Whitaker <br>
                  1510 Blake St. <br>
                  Denver, CO 80205
                </h6>
              </td>
              <td>
                <h6 class="rjust">
                  317 695 9721 <br>
                  damwhit@gmail.com
                </h6>
              </td>
              <td>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
