<li class="pull-right">
  <a href="/cart" style="color:#777; margin-top: 10px;">cart(<%= @cart.count %>)</a>
</li>
<li class="dropdown pull-right">
  <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 10px;" class="dropdown-toggle">events<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="name-in-dropdown">
      <%= link_to "sports", "/sports" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "concerts", "/concerts" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "festivals", "/festivals" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "hipster pop-ups", "/popups" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "conventions", "/conventions" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "comedy", "/comedy" %>
    </li>
  </ul>
</li>
