<li class="dropdown pull-right">
  <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 10px;" class="dropdown-toggle">events<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="name-in-dropdown">
      <%= link_to "all", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "sports", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "concerts", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "festivals", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "hipster pop-ups", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "conventions", "#" %>
    </li>
    <li class="name-in-dropdown">
      <%= link_to "comedy", "#" %>
    </li>
  </ul>
</li>
