<div class="navbar-nav pull-right">
<ul class="nav pull-left user-cart">
  <li class="pull-right nav-icon">
    <a id="login" href="/login" style="color:#777; margin-top: 10px;">sign in</a>
  </li>
  <li class="pull-right">
    <a id="sell" href="/sell" style="color:#777; margin-top: 10px;">sell tickets</a>
  </li>
  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 10px;" class="dropdown-toggle">events<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="name-in-dropdown">
        <%= link_to "all", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "sports", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "concerts", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "festivals", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "hipster pop-ups", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "conventions", "#" %>
      </li>
      <li class="name-in-dropdown">
        <%= link_to "comedy", "#" %>
      </li>
    </ul>
  </li>
</ul>
</div>
