<h1>upcoming events</h1>

<p><%= link_to "see all events", events_path %></p>
<%= will_paginate %>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr class="text-align-center">
        <th></th>
        <th></th>
        <th>event</th>
        <th>date</th>
        <th>time/venue</th>
        <th>category</th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
          <tr class="text-align-center">
            <td><%= image_tag(event.image.url(:index), class: "event-image-small") %></td>
            <td>
              <%= button_to "create listing", new_event_listing_path(event), method: :get, class:"btn btn-primary", :params => {event: event} %>
            </td>
            <td><%= event.name %></td>
            <td><%= event.format_date %></td>
            <td><%= event.time_venue %></td>
            <td><%= event.category.name %></td>
            <td>**event_tags**</td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
