<div class="container-fluid">
  <div class="col-md-6">
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <%= image_tag(@event.image.url(:show), class: "event-image-large") %>
    <div class="event-description">
      <%= "#{@event.format_date} at #{@event.format_time}" %>
    </div>
    <div class="event-description">
      <%= @event.venue.city %>, <%= @event.venue.state %> at <%= @event.venue.name %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="tickets-title">
      <h1>available listings</h1>
    </div>
    <% counter = 0  %>
    <% @event.listings.each do |listing| %>
      <div class="panel panel-default">
        <div class="panel-heading"> Listing: <%= counter += 1 %> </div>
          <div id="listing-<%= listing.id %>", class="panel-body">
            row: <%= listing.view_row %> <span class="tab-space"> quantity: <%= listing.count_tickets %></span> <span class="tab-space">price: <%= listing.view_price %></span>
            <%= form_tag(cart_tickets_path(listing_id: listing.id), method: "post") do %>

              <div class="col-xs-3 col-sm-3 col-md-3 form-inline">
                 seats: <%= select_tag "seats", options_for_select(listing.seats), {multiple: true, class: "form-control form-control-sm dropdown-toggle"} %>
               </div>
              <%= submit_tag "add to cart!", class: "btn btn-default btn-success listing-cart"%>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
