<div class="container-fluid">
  <div class="col-md-6">
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <%= image_tag(@event.image.url(:show), class: "event-image-large") %>
    <div class="event-description">
      <%= @event.format_time %>
    </div>
    <div class="event-description">
      <%= @event.venue.city %>, <%= @event.venue.state %> at <%= @event.venue.name %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="tickets-title">
      <h1>available tickets</h1>
    </div>
    <% counter = 0  %>
    <% @listings.each do |listing| %>
      <div class="panel panel-default">
        <div class="panel-heading"> Listing: <%= counter += 1 %> </div>
          <div id="listing-<%= listing.id %>", class="panel-body">
            <%= form_tag() do %>
              <div class="col-xs-3 col-sm-3 col-md-3 form-inline">
                quantity: <%= select_tag "quantity", options_for_select([*1..10]), {class: "form-control form-control-sm"} %>
              </div>
          <% end %>
            row: <%= listing.tickets.first.row %> <span class="tab-space"> quantity: <%= listing.tickets.count %></span> <span class="tab-space">price: <%= listing.tickets.first.format_price %></span>
            <button class="btn btn-default btn-success listing-cart">add to cart!</button>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
