<div class="container-fluid">
  <div class="col-md-6">
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <%= image_tag(@event.image.url(:show), class: "event-image-large") %>
    <br>
    <div class="event-description col-md-12">
      <% @event.tags.each_with_index do |tag, ind| %>
        <span class="label label-primary"><%= tag.name %></span>
        <% if ind % 3 == 2 %>
        <br>
        <% end %>
      <% end %>
    </div>
    <div class="event-description">
      <%= "#{@event.format_date} at #{@event.format_time}" %>
    </div>
    <div class="event-description">
      <%= @event.venue.city %>, <%= @event.venue.state %> at <%= @event.venue.name %>
    </div>
    <% if @event.cancelled? %>
      <div class="event-cancelled">
        <h1 class="cancelled-text">CANCELLED</h1>
      </div>
    <% end %>
    <% if current_admin? && !@event.cancelled? %>
      <div class="event-description">
        <%= button_to "cancel event", admin_event_cancel_path(@event.id), method: "patch", class:"btn btn-danger btn-s text-center" %>
      </div>
    <% end %>
  </div>
  <% unless @event.cancelled? %>
  <div class="col-md-6">
    <div class="tickets-title">
      <h1>available listings</h1>
    </div>
    <% @event.listings.each do |listing| %>
      <% if listing.seats.any? %>
        <%= render partial: "shared/view_listing", locals: { listing: listing }%>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
