<tr>
  <td><%= link_to event.name, event_path(event.id) %></td>
  <td><%= event.venue.name %></td>
  <td><%= event.format_date %></td>
  <td><%= event.format_time %></td>
  <td class="col-md-2">
    <%= link_to "remove #{tag.name} tag", admin_event_tag_path(event.id, tag.id), method: "delete", class:"btn btn-danger btn-s text-center" %>
  </td>
</tr>
