<h2 class="inactive-<%= params[:inactive] %> admin-product-index-header"><%= @tag.name %></h3>
<br>
<p><%=link_to "all tags", admin_tags_path%></p>
<br>

<h3 class="admin-product-index-header">events</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
      <%= render partial: "event_header" %>
    <tbody class="events">
      <%= render partial: "event", collection: @events, locals: { tag: @tag } %>
    </tbody>
  </table>
</div>
<br>
<br>
<h3 class="admin-product-index-header">venues</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
      <%= render partial: "venue_header" %>
    <tbody class="venues">
      <%= render partial: "venue", collection: @venues, locals: { tag: @tag } %>
    </tbody>
  </table>
</div>
