<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>almost there!</h1>
  </div>
</div>
<div id="product" class="container">
  <div class="row">
  </div><br><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">event</th>
              <th class="text-center">row</th>
              <th class="text-center">seat</th>
              <th class="text-center">price</th>
            </tr>
          </thead>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= image_tag(ticket.get_event.image.url(:show), class: "event-image-sm img-responsive") %></td>
                <td><h4><%= ticket.get_event.name %></h4></td>
                <td><h4><%= ticket.row %></h4></td>
                <td><h4><%= ticket.seat %></h4></td>
                <td><h4><%= ticket.format_price %></h4></td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th class="order-total">Total:</th>
              <th class="order-total"><%= cart_total(@cart.tickets) %></th>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-sm-4 text-center checkout-con">
      <div class="cart text-center">
        <h3>Hey, <%= current_user.fullname %></h3>
        <h4>Your total is $<%= cart_total(@cart.tickets) %></h4><br>
        <p>Click "submit order" below and you'll be asked all billing and shipping questions. Then bask in the knowledge that you will soon be attending a kick-ass event.</p>
          <%= render partial: "checkout_form", locals: {amount: raw_cart_total(@cart.tickets) } %>
      </div>
    </div>
  </div>
</div>

<div class="continue-shopping-checkout">
  Not done yet?<span class="small-indent"></span><button class="btn btn-default btn-success">continue shopping</button>
</div>
