<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>look at this order.</h1>
  </div>
</div><br>


<div class="container">
  <div class="col-sm-12">
    <div class="container past-order-review">
      <h3>order <%= @order.id %></h3>
      <h4 class="order-date">purchased on: <%= @order.date %></h4>
      <h4>total: <%= @order.display_total %></th></h4> <br><br>
    </div>
  </div>
  <h3 class="upcoming-text">upcoming</h3>

  <% if @order_tickets[:upcoming].any? %>
    <%= render partial:  "upcoming_events"%>
  <% else %>
    <h4>no upcoming events :(</h4>
  <% end %>

  <% if @order_tickets[:past].any? %>
    <%= render partial:  "past_events"%>
  <% end %>

  <% if @order_tickets[:cancelled].any? %>
    <%= render partial:  "cancelled_events"%>
  <% end %>

</div>
