<div class="cart-hero-unit order-hero-unit">
  <div class="container text-center hero-container">
    <h1>get yo tickets.</h1>
  </div>
</div><br><br>
<div id="product" class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="shopping-cart-title">Shopping Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <% 3.times do %>
      <div class="cart-product">
        <div class="row">
          <div class="col-xs-5">
            <div class="cart-image">
              <%= image_tag('http://mortenbentzon.com/wp-content/uploads/2014/07/midnightsun_blog161-e1406761557421.jpg', class: "event-image-sm img-responsive") %>
            </div>
            <h5><%= link_to "remove from cart", '#' %></h5>
          </div>
          <div class="col-xs-4 col-sm-7">
            <div class="row">
              <p class="product-title">Sun Festival</p>
              <h3 class="product-price">$100.00</h3>
              <h3 class="product-seat">Row 5 | Seat 7</h3>
              <div id="quantity-dropdown" class="row text-left">
                <div class="form-inline">
                  <%= form_tag() do %>
                    <input type="hidden" name="_method" value="patch">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <%= select_tag "quantity", options_for_select([*1..10]), {class: "form-control form-control-sm"} %>
                    </div>
                    <div class="text-left">
                      <%= submit_tag "Update", class:"btn btn-little-owl"%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-1 text-center checkout-con">
      <div class="cart">
        <div class="product-header">
          <h3>Order Subtotal (3 items)</h3>
        </div>
        <h1 class="cart-total">$300.00</h1>
        <div class="checkout">
          <% if current_user %>
            <%= link_to "Checkout", '#', class:"btn btn-checkout form-control" %>
          <% else %>
            <%= link_to "Checkout", '#', class:"btn btn-checkout form-control" %>
          <% end %>
        </div>
        <h4>or</h4>
        <div class="continue-shopping">
          <%= link_to "Continue Shopping", '#', class:"btn btn-primary form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
