<div class="<%= (@category.name).downcase %>-hero-unit category-hero-unit">
  <div class="container text-center hero-container">
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @category.events.upcoming_events.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-4 product-div">
        <div class="row sm-product-row product-row">
          <div class="col-xs-12">
            <%= link_to image_tag(event.image.url(:show), class: "img-responsive event-image"), event_path(event) %>
            <div class="sm-product-info">
              <p id="event-#{event.id}"><%= link_to "#{event.name}, #{event.venue.city}", event_path(event) %></p`>
              <p> <%= event.format_date %> | <%= event.format_time %></p>
              <% if current_admin?  %>
                <p><%= button_to "cancel", cancel_admin_event_path(event.id), method: "patch" %></p>
              <% end %>
            </div>
          </div>
          <div class="product-info">
            <p class="event-name"><%= link_to "#{event.name}, #{event.venue.city}", event_path(event) %></p>
            <p><%= event.format_date %> | <%=event.format_time%></p>
          </div>
        </div>
        <div class="row xs-product-row product-row">
          <div class="col-xs-6">
            <%= link_to image_tag(event.image.url(:show), class: "img-responsive event-image"), event_path(event) %>
            <div class="sm-product-info">
              <p id="event-#{event.id}"><%= link_to "#{event.name}, #{event.venue.city}", event_path(event) %></p>
              <p> <%= event.format_date %> | <%=event.format_time%></p>
            </div>
          </div>
          <div class="product-info">
            <p id="event-#{event.id}"><%= link_to "#{event.name}, #{event.venue.city}", event_path(event) %></p>
            <p> <%= event.format_date %> | <%=event.format_time%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
